
<!DOCTYPE html>
{% include "header.html" %} 
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  
  
</head>  


<body style="background-color: #fdfcfc03;">
 <div class="main-content">
        <section class="section">
         
          <div class="section-body">
            <div class="row">
              <div class="col-lg-2" > 
              </div>
				<div class="col-lg-7">
					<div class="card">
						<div class="card-body">
							 <ul class="breadcrumb breadcrumb-style "style="background: #f3f3f3;">
								<li class="breadcrumb-item">
								  <h5 class="page-title m-b-0">Add New Request</h5>
								</li>
								<li class="breadcrumb-item">
								  <a href="/dashboard/">
									<i class="fas fa-home"></i></a>
								</li>
								</ul> 

                             <form action="" method="get" id='new_user_form' style="margin: 25 px auto"  ; >
                                
            
                               

								<div class="form-group">
                                    <label>Book Name</label>
                                                                                      
                                    <select id="book_name" class="form-control" >
                                    <option value = "" selected hidden >Book Name</option>
                                                                                            
                                    {% for i in obj %}
                                        <option value = "{{i.book_name}}" >{{i.book_name}}</option>
                                    {% endfor %}
                                    </select>
                                                                                        
                                    </div>
								
								<label for="stu_name">Student Name</label>
								<input type="text" id="stu_name" class="form-control" name="stu_name" tabindex="1" placeholder="stu_name"><br>

                <label for="stu_class">Student Class</label>
								<input type="number" id="stu_class" class="form-control" name="stu_class" tabindex="1" placeholder="stu_class"><br>

								<label for="section">Section:</label>
								<input type="text" id="section" class="form-control" name="section" tabindex="1"  required autofocus  placeholder="section" > <br>

                <label for="email">Email:</label>
								<input type="email" id="email" class="form-control" name="email" tabindex="1"  required autofocus  placeholder="email" > <br>

                                <label for="issue">Issue date:</label>

                                <input type="date" id="issue_date" name="trip-start"
                                       value="2022-01-01"
                                       min="2022-01-01">

                                <label for="till">Till date:</label>
                                <input type="date" id="till_date" name="trip-end"
                                value="2022-01-01"
                                min="202-01-01" >
                                <br> <br>
								
								
								
                                <label for="condition">Condition:</label>
								               <select name="condition" id="condition">
                                    <option value="old">Old</option>
                                    <option value="new">New</option>
                                    <option value="average">Average</option>
                                    
                                  </select> <br> <br>

                                  <div class="form-group">
                                    <label>Images select:</label>
                                                 
                  <input type="file" id="img" class="form-control" name="img" accept="image/*">
                  
                         
                               </div>

                                  <div class="form-group">
                                    <label>Request Generated by</label>
                                                                                      
                                    <select id="request_generator" class="form-control" >
                                    <option value = "" selected hidden >Request Generated by</option>
                                                                                            
                                    {% for i in obj1 %}
                                        <option value = "{{i.name}}" >{{i.name}}</option>
                                    {% endfor %}
                                    </select>
                                                                                        
                                    </div>

                                

						       <center>
                    <button type="button" type="submit" class="btn btn-success" value="save" onclick="request_book()" >Save </button>
                   </center>    
						
                      </br>
                  <!-- <div> -->
                    <!-- <a href="#" class="txt1"> -->
                      <!-- Add details -->
                    <!-- </a> -->
                      <!-- </div> -->
                  
                   </div>
               </div>
           </div>
            
        </div>
        
  
          </div>
    </div>		
  </body>			 
  <script>
  
  
 
    $(document).ready(function(){
      $(document).bind('keypress', function(e) {
      if(e.keyCode==13){
         $('#save_button').trigger('click');
       }
      });
      })
  
  
  
  function request_book(){
  var book_name=$('#book_name').val()
  var stu_name=$('#stu_name').val()
  var stu_class=$('#stu_class').val()
  var section=$('#section').val()
  var email=$('#email').val()
  var issue_date=$('#issue_date').val()
  var till_date=$('#till_date').val()
  var condition=$('#condition').val()

  var request_generator=$('#request_generator').val()
  var image = $('#img').val()
  
 

  if(book_name == ""){
		
    swal("Please Enter Book Name", {
      icon: "info",
      button: "Ok",
      closeOnClickOutside: false,     
      }).then(function() {
        
    });
  
  }
  
  else if(stu_name == ""){
  
  swal("Please Enter the Student Name", {
      icon: "info",
      button: "Ok",
      closeOnClickOutside: false,     
      }).then(function() {
        
    });
  
  }
  
  else if(stu_class == ""){
  
    swal("Please Enter the Student Class", {
        icon: "info",
        button: "Ok",
        closeOnClickOutside: false,     
        }).then(function() {
          
      });
    
    }



  else if(section == ""){
  
  swal("Please Add Section", {
      icon: "info",
      button: "Ok",
      closeOnClickOutside: false,     
      }).then(function() {
        
    });
  
  }
  
  else if(email == ""){
  
  swal("Please Enter the Email", {
      icon: "info",
      button: "Ok",
      closeOnClickOutside: false,     
      }).then(function() {
        
    });
  
  }
  
  else if(condition == ""){
  
  swal("Please Enter the Condition", {
      icon: "info",
      button: "Ok",
      closeOnClickOutside: false,     
      }).then(function() {
        
    });
  
  }

  else if(request_generator == ""){
  
    swal("Please Enter the Request generator", {
        icon: "info",
        button: "Ok",
        closeOnClickOutside: false,     
        }).then(function() {
          
      });
    
    }
  
  
else{

  console.log(book_name)
  console.log(stu_name)
  console.log(stu_class)
  console.log(section)
  console.log(email)
  console.log(issue_date)
  console.log(till_date)
  console.log(condition)
  console.log(request_generator)


  
  var form = $("#form_data")[0];
  var data_item = new FormData(form);
	data_item.append("img",document.getElementById("img").files[0])
  data_item.append("book_name",book_name)
  data_item.append("stu_name",stu_name)
  data_item.append("stu_class",stu_class)
  data_item.append("section",section)
  data_item.append("email",email)
  data_item.append("issue_date",issue_date)
  data_item.append("till_date",till_date)
  data_item.append("condition",condition)
  data_item.append("request_generator",request_generator)

        
        $.ajax({
            method : "POST",
            url : "/book_request",
            enctype : "mutipart/form_data",
            processData : false,
		        contentType : false,
            cache : false,
            data :data_item,
            success : function(response){
               
                if (response == "success"){
            
                    alert("Data store")
 
                    location.href = '/book_issue_report/'
 
                }
                
                else{
                
                    alert("User already requested")
                
                }
 
            
            }
 
    });
 }
}
 </script>
{% include "footer.html" %}
</html>